/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object ContractsApi {

  /**
   * &lt;p&gt;This endpoint returns contract history from FPDS for a specific vendor. The vendor&#39;s DUNS number is a required parameter. You can also filter contracts by their NAICS code to find contracts relevant to a particular category.  &lt;/p&gt;
   * 
   * Expected answers:
   *   code 200 :  (No response was specified)
   * 
   * @param duns A 9-digit DUNS number that uniquely identifies a vendor (required).
   * @param naics a six digit NAICS code used to filter by contracts with a certain NAICS
   * @param sort a field to sort on. Choices are date, status, agency, and amount
   * @param direction The sort direction of the results. Choices are asc or desc.
   * @param page the page to start on. Results are paginated in increments of 100. Begins at page&#x3D;1.
   */
  def listContracts(duns: String, naics: Option[String] = None, sort: Option[String] = None, direction: Option[String] = None, page: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, "https://dev-virtserver.swaggerhub.com/fbmattos/discovery-market_research/0.1", "/api/contracts/", "application/json")
      .withQueryParam("duns", duns)
      .withQueryParam("naics", naics)
      .withQueryParam("sort", sort)
      .withQueryParam("direction", direction)
      .withQueryParam("page", page)
      .withSuccessResponse[Unit](200)
      

}

