/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object VendorApi {

  /**
   * &lt;p&gt;This endpoint returns a single vendor by their 9 digit DUNS number. DUNS numbers can be looked up in the &lt;a href&#x3D;\&quot;https://www.sam.gov\&quot;&gt;System for Award Management&lt;/a&gt; by vendor name.  &lt;/p&gt;
   * 
   * Expected answers:
   *   code 200 :  (No response was specified)
   * 
   * @param duns a nine digit DUNS number that uniquely identifies the vendor (required)
   */
  def getVendor(duns: String): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, "https://dev-virtserver.swaggerhub.com/fbmattos/discovery-market_research/0.1", "/api/vendor/{duns}", "application/json")
      .withPathParam("duns", duns)
      .withSuccessResponse[Unit](200)
      

}

